<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <style>
            body {
                background: white;
                padding: 0;
                margin: 0;
                font-family: sans-serif;
            }

            a {
                text-decoration: none;
            }
            a:visited {
                color: inherit;
            }

            template {
                display: none;
            }

            /* TODO: use jss. */
            a.hash {
                color: #800;
            }
        </style>
        <link type="text/css" href="/code.css" />
    </head>
    <body>
        <script type="template" id="content">
            <% dox.comments.forEach(function(comment) { %>
                <div>
                    <h1 id="<%= (comment.ctx? comment.ctx.name: comment.ctx) %>">
                        <a class="hash" href="#<%= (comment.ctx? comment.ctx.name: comment.ctx) %>"># </a>
                        <%- (comment.ctx? comment.ctx.name: comment.ctx) %>
                    </h1>

                    <%- comment.description.full %>

                    <pre><code class="javascript"><%= comment.code %></code></pre>
                </div>
            <% }) %>
        </script>

        <script>
            // place this in a json file next to the template instead of inline here?
            window.dox = <%- JSON.stringify(dox) %>
        </script>

        <script src="/app.js"></script>
    </body>
</html>
